.wp-block-a8c-starscape__advanced {
  margin-bottom: 24px; }
  .wp-block-a8c-starscape__advanced > p {
    grid-column: span 2;
    margin-bottom: 0; }
  .wp-block-a8c-starscape__advanced > .components-base-control {
    margin-bottom: 0; }
